@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}
@media screen and (min-width: 900px) 
{
.carousel-list::-webkit-scrollbar {
    width: 1px;
  }
  
  .carousel-list::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }
  
  .carousel-list::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: #88888800;
    border-radius: 4px;
  }
  
  .carousel-list::-webkit-scrollbar-thumb:hover {
    background-color: #bdacac00;
  }
}

@media only screen and (min-width: 1200px) { 

.video{
  margin-top:-240px;
}  

}